{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="d-flex">
        <div class="">
         {% if stats is defined and (stats.NbWin / stats.NbLose) >= 1.5 %}
         <img class=""src="{{ asset(image_directory_chess ~ (user.profilePicture ?: 'default-chess.jpg') ) | imagine_filter('thumb_prestige') }}" />
         {% else %}
            <img class=""src="{{ asset(image_directory_chess ~ (user.profilePicture ?: 'default-chess.jpg') ) | imagine_filter('thumb_profile') }}" />
        {% endif %}

        </div>
        <div class="col-8">
            <p class="mt-3 mb-0">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p class="mb-0">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <p class="mb-0">Dernière Connexion le {{ user.lastLogin|date('d-m-Y à H:i') }}</p>
        {# Cette ligne affiche l'ajout amis uniquement si le profil n'est pas celui de l'utilisateur ou si il n'est pas encore amis. #}
        {% if user != app.user and user not in app.user.getMyFriends() %}
            <a class="btn btn-primary" href="{{ path('add', { 'id':user.id}) }}">Ajouter en Amis</a>
        {% endif %}

        </div>
        <p class="ml-0">Ratio V/D :
        {% if stats is defined and stats.NbLose != 0 %}
                    {{(stats.NbWin / stats.NbLose)|number_format(2, '.', '')}}</p>
                {% elseif stats is defined and stats.NbLose == 0 %}
                {{stats.NbWin}}</p>
                {% else %}
                Aucune</p>
                {% endif %}
    </div>
</hr>
    <div class="border-top mt-1">
        <div class="mt-4 d-flex">
            <div class="mr-2 p-3 border mx-auto">
                <p>Inscrit depuis le :</p>
                {{user.firstLogin|date('d-m-Y à H:i')}}
            </div>
            <div class="p-3 border mx-auto">
                <p>Parties Gagnées : </p>
                {% if stats is defined %}
                    <p> {{stats.NbWin}} sur {{stats.nbGame}}</p>
                {% else %}
                <p>Aucune</p>
                {% endif %}
            </div>
            <div class="p-3 border mx-auto">
                <p>Parties Perdues : </p>
                {% if stats is defined %}
                    <p>{{ stats.NbLose }} sur {{stats.nbGame}}</p>
                {% else %}
                <p>Aucune</p>
                {% endif %}
            </div> 
        </div>
    </div>
    {% if user == app.user %}
    {# Permet de vérifier si l'utilisateur est bien sur sa propre page de profil #}
        <a class="mt-5 mb-0 float-right btn btn-primary" href="{{ path('profileEdit', { 'id':app.user.username}) }}">Modifier</a>
    {% endif %}
</div>
