
 {% block header %}
    <div class="d-flex justify-content-between bg-light pt-2">
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p class="pl-2 text-left p-0">
            <img class=""src="{{ asset(image_directory_chess ~ (app.user.profilePicture ?: 'default-chess.jpg') ) | imagine_filter('thumb_nav') }}" />
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            </p> 
                <a class="pt-2 pr-2" href="{{ path('fos_user_security_logout') }}">
                     {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
     {% endif %}
    </div>
    <div class="navTitle bg-light">
        <div class="justify-content-center d-flex">
            <h1 class="titre">
                <a class="text-white col-10 p-0" href="{{ path('home') }}">
                CHESS 
                <img hspace="0" class="navBg" src="../../image/kissclipart-my-chess-journal-by-passion-imagination-journals.png" alt="Smiley face" hspace="20">
                ONLINE
                </a>
            </h1>
        </div>
    </div>

    <div class="navLink mb-0">
         <ul class="nav bg-light nav-fill justify-content-center nav-tabs col-12" id="myTab" role="tablist">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" href="{{ path('home') }}">Accueil</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" id="profile-tab" href="{{ path('profileShow', { 'id':app.user.id}) }}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('message_received')}}">Mes Messages {{ render(controller('App\\Controller\\MessageController::newMessageCount')) }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('friendList')}}">Liste d'Amis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('article_index')}}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('ladder_index')}}">Classement</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

 {% endblock %}