{% extends 'base.html.twig' %}

{% block title %}Acceuil Chess-Online{% endblock %}

 {% block headJs %}    
 <script> const USER_NAME = "{{app.user.username}}"; </script>      
    {% endblock %} 

{% block body %}

{% if games != false %}
Partie en cours : 
{% for game in games %}
<a href="{{ path('game', {id : game.id }) }}">lien</a>
{% endfor %}
{% endif %}


<div class="row ">
  <div class="globalContainer col-12">
    <div class="leftContainer">

      <div class="buttonContainer"> 
        <form id="invitation">
          <h4 class="titleInvite"> Inviter un joueur :</h4> 
          <input class="inputName" type="text">
          <button class="inviteButton btn btn-light" id="invitation-invite" type="submit">Inviter</button>
          <button class="mx-auto btn btn-light d-none" id="invitation-cancel" type="button">Annuler</button>
        </form>
        <div id="matchmaking-container">
        <h4 class="titleMatchMaking"> Partie aléatoire :</h4> 
        <button class="makingButton btn btn-light" id="match-making">Trouver une partie</button>
        <button class="makingButton btn btn-light d-none" id="match-making-cancel">Quitter la file</button>
        </div>
      </div>

      <div id="home-left" class="bg-dark mb-4 p-1 pr-2 pl-2">
        <h2 class="text-center font-weight-bold mt-2"> Latest News :</h2>
        <div class="lastNews p-3"> 

            {% if article is not null %}
            <h4 class="text-center font-weight-bold">{{ article.title}}</h4>
            <p class="text" > {{article.body|raw}}</p>  
            {% endif %}

        </div>
      </div>
    </div> 
    <div class="rightContainer">
      <div class="rootContainer" id="root"><div>
    </div>
  </div> 
 </div>
{% endblock %}


{% block javascripts %}           
 <script type="text/javascript" src="{{ asset('build/js/accueil.js') }}"></script>
{% endblock %}

            {# Cette ligne doit être en dernière pour que l'on dispose d'une écoute terminale #}
