{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

{# Un p'tit coup d'front pour ce input d'ajout d'amis que l'on retrouve aussi dans la liste joueur ? :) #}


<table class="table table-hover bg-custom borderblanche mx-auto col-12 col-md-11 mt-4 text-center table-responsive-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">MP</th>
       <th scope="col">Supprimer</th> 
    </tr>
  </thead>
  <tbody>
    {% for friend in list %}

     <tr>
      <th scope="row"><img class=""src="{{ asset(image_directory_chess ~ (friend.profilePicture ?: 'default-chess.jpg') ) | imagine_filter('thumb_nav') }}" /></th>
      <td><a href="{{path('profileShow',{id: friend.id})}}">{{ friend.username }}</a></td>
      <td><a href="{{ path('message_user', {id : friend.id })}}"><i class="far fa-envelope"></i></a></td>
      <td><a class="btn btn-dark ml-2" href="{{ path('remove', { 'id':friend.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="col-6 mx-auto ">

{{form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
      <button class="btn btn-dark">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
{% if list is empty %}
     <p class="font-weight-bold text-center">Vous pouvez aussi ajouter des amis depuis leurs pages de profil !</p>
    {% endif %}
</div>

{% endblock fos_user_content %}