{% extends 'message/message_layout.html.twig' %}

{% block title %}Message envoyé{% endblock %}

{% block body %}

{{ parent() }}
        <h1> Message envoyé</h1>
        <div class="d-flex flex-column">
            <div class="pr-2 mb-1"><a class="btn btn-light float-right" href="{{ path('message_new') }}">Envoyer un Message</a></div>
            <ul class="list-group list-group-flush">
            {% for message in messages %}
                <li class="list-group-item bg-dark border-light m-1">
                    <div><h4><a href="{{ path('message_show', {'id': message.id}) }}">{{ message.title }}</a></h4></div>
                    <div>
                        <span>{{message.receiver}}</span>
                        <span class="float-right">{{ message.sentAt ? message.sentAt|date('d/m/Y, H:i') : '' }}</span>
                    </div>
                    
            </li>                                
            {% else %}      
                    <p>Aucun message envoyé</p>         
            {% endfor %}
            </ul>
        </div>
        <div class="mx-auto">
        {{ knp_pagination_render(messages) }}
        </div>
{% endblock %}
