{% extends 'message/message_layout.html.twig' %}

{% block title %}Message{% endblock %}

{% block messagerie %}
    {{ parent() }}
   
    <div class="row mx-auto col-12 col-md-10 bg-custom borderblanche p-4">
       
        <div class="message-author col-12 col-md-3 d-flex flex-column align-items-center mb-3">
            <h4 class="font-weight-bold">{{ message.sender.username}}</h4>       
            <img class="p-2"src="{{ asset(image_directory_chess ~ (message.sender.profilePicture ?: 'default-chess.jpg') ) | imagine_filter('thumb_profile') }}"/>       
            <p>{{message.sentAt|date("d/m/Y, H:i")}}</p>
        </div>

        <div class="message-body col-12 col-md-9 d-flex flex-column">
                <h5 class="border-bottom">{{message.title}}</h5>
                {{message.body|raw}}
            <div class="ml-auto mt-auto">
                {{ include('message/_delete_form.html.twig') }}
                <a href="{{ path('message_answer', { id : message.id}) }}"class="btn btn-light align-self-end mb-auto">repondre</a>
            </div>
        </div>

    </div>

    
        
{% endblock %}
