{% extends 'base.html.twig' %}

{% block title %}News : {{ article.title }}  Chess-Online{% endblock %}

{% block body %}
    <div class="bg-dark p-5 mt-5">
    
        <h1 class="font-weight-bold text-center mb-5">{{ article.title }}</h1>
        <p class="font-weight-bold mb-5">Par {{article.author}}, le  {{article.publishAt|date('d/m/Y à H:i')}} :</p>
        <p> {{article.body|raw}}</p>

        {% if is_granted('ROLE_ADMIN') or app.user == article.author %}   
            <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="far fa-edit"></i></a>
            {{ include('article/_delete_form.html.twig') }}
        {% endif %}
    
   
    {% if answers is not empty %}
        <h3 class="mt-5 mb-3 font-weight-bold">Commentaires : </h3>
        <ul class="list-group mb-5">
        {% for answer in answers %}
            <li class="list-group-item bg-dark mt-2 border-light">
                <p class="font-weight-bold"> Par {{ answer.author}}, le  {{answer.publishAt|date('d/m/Y à H:i : ')}}</p>
                <p>{{ answer.body|raw }}</p>
                {% if is_granted('ROLE_ADMIN') or app.user == answer.author %}
                <div class="button-bar float-right d-inline">
                    {{ include('article_answer/_delete_form.html.twig') }}
                    <a class="btn btn-dark bg-dark" href="{{ path('article_answer_edit', {'id': answer.id}) }}"><i class="far fa-edit"></i></a>
                </div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {{ knp_pagination_render(answers , null, {}, {
            'align': 'center',
        }) }}
    {% endif %}
    {{ include('article_answer/_form.html.twig', {'button_label': 'Envoyer'}) }}
    </div>
{% endblock %}
